<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
</head>
<body>
    <div id="respuesta"></div>

    <script src="../assets/js/login.js"></script>

    <p>Bienvenido al sistema</p>

    
<footer class="page-footer font-small blue">

    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> Hector Cardenas </a>
    </div>
    
  
  </footer>
  
    
</body>
</html>